<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Edycja klienta</title>
</head>
<body>
<main role="main" layout:fragment="container" class="container">
<form method="post" th:action="@{/customer/save}" th:object="${customer}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Pole</th>
            <th scope="col">Wartość</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
        </tr>
        <tr>
            <th scope="row">Imie</th>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <th scope="row">Nazwisko</th>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <th scope="row">Adres</th>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <th scope="row">NIP</th>
            <td><input type="text" th:field="*{nip}"/></td>
        </tr>
        <tr>
            <th scope="row">Pesel</th>
            <td><input type="text" th:field="*{pesel}"/></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="OK"/>
</form>
</main>
</body>
</html>